.card {
  border: 1px solid gray;
  border-radius: 5%;
  box-shadow: 5px 5px 5px gray;
  text-align: center;
  padding: 5px;
  margin: 5%;
  max-width:fit-content;
  display:inline-block;
}
.card .card-img{
  border: 1px solid gray;
  border-radius: 40%;
}